img{max-width: 100%;}
p{
    text-indent: 4ch;
}

body{
    
    background-color: rgb(236, 235, 230);
    margin: 0px;;
    
}


main{
    
max-width: 95%;
margin: auto;
font-family: "Noto Sans", sans-serif;
font-weight: 300;
font-size: 1rem;

}

header.primary{
    font-family: "Noto Sans", sans-serif;
font-weight: 300;


    position:fixed ;
    top: 0;
    width: 100%;
    height: 20vh;
    background-color: rgb(244, 221, 16);
    margin: 0px;
    
   
}


header .container{
   
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;

    height: 20vh;
}

header div #header1{
    max-height: inherit ;
    grid-column:span 8 ;
    
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 20px;

   
    
    
}

header #logo{
    max-height:18vh ;
    margin: auto;
    grid-column:span 1 ;
    text-decoration: none;
    display: inline-block;
   
}
header img{
   
    height:18vh ;
    
    border: none;
    object-fit: contain;
    margin-top: .05vh;
   
    
   
}
header h1{
    

    grid-column:2/7 ;
    grid-row:1/2 ;


    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3.2rem;
    font-weight: 800;
    
}

header nav{

 
    grid-column:11/13 ;
    grid-row:1/2 ;

    height: 20vh;
}
header nav ul{
    margin: 0px;
    height: 100%;
}
header.primary nav li{
    list-style-type: none;
    height: 33.3%;

    
    
    
}

header.primary nav li a{
    
    border-left:3px solid rgb(236, 235, 230);
    
  height: 100%;
    
    
    
    display:block;
    text-align:center;
   
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    
    transition: .25s;
  }

  header.primary nav li :visited{
color: black;
  }
  header.primary nav a:hover{
  
    text-decoration: underline;
    
    
  }



   
section.content{
    margin-top: 20vh;
    
    margin-bottom: 40px;
}

h2{
    padding-top: 35px;
    margin: 0px;
    
}


div#ATP{
   
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
}

section#gridM .container{
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    
    gap: 20px;
}

section#gridM #mainpara1{
    
    grid-column:1/13 ;
    grid-row: 1/2;
}

section#gridM #article1{
    background-color: rgb(248, 248, 248);
    padding: 7px;

    border: 2px solid rgb(248, 248, 248);
    border-left: 13px solid rgb(248, 248, 248)f;
  
  border-radius: 4px ;

    grid-row: 2/3;
    grid-column:1/13 ;
    width: 80%;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(8,1fr);
    gap: 5px;

}
section#gridM #article1 #mainimg1{
    
    
    width: 45%;
    padding-right: 2%;
    height: auto;
  object-fit: contain;
}
section#gridM #article1 #mainpara2{
    padding-right: 12%;
    border-right:10px solid rgb(255, 214, 48);
    
    width: 45%;
   
}

section#gridM #mainpara3{
  
    grid-column:1/13 ;
    grid-row: 3/4;
}


section#gridM #article2{
    grid-row: 4/5;
    grid-column:1/13 ;

    width: 80%;
    margin: auto;

    display: flex;
    grid-template-columns: repeat(8,1fr);
    gap: 5px;
    background-color: rgb(255, 255, 255);
    padding: 7px;

    border: 2px solid #ffffff;
    border-left: 13px solid #ffffff;
    
}
section#gridM #mainimg2{
    width: 45%;
    margin-right: 2%;
    height: auto;
  object-fit: contain;
    
}
section#gridM #mainpara4{
    width: 45%;
    padding-right: 12%;
    border-right:10px solid rgb(241, 241, 0);
}





div#p2flex{
    
    background-color: rgba(28, 85, 135, 0);
    
}
h2#ATP2
{
    padding-bottom: 16px;
    
}
article#page2{
    font-size: 1rem;
    padding: 20px;
    padding-top: 1px;
    background-color: rgb(248, 248, 248);
    width:20hw ;
    height: 370px;
    margin-bottom: 50px;

    
    
}
article h3{
    font-size: 1.5rem;
}

article#page2 img{
   max-height: 300px;
   float: left;
   padding-right: 30px;
}

article#page2 a{
    background-color: rgb(255, 214, 48);
    border:3px solid rgb(255, 214, 48);
    border-radius: 10px;
  
    bottom: 0;
    float: right;
    display:block;
    text-align:center;
   
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    transition: .25s;
    color: black;

    padding: 2px 10px;
 }


  article#page2 a :visited{
color: black;
  }
  article#page2 a:hover{
    background-color: rgb(252, 197, 78);
    border:3px solid rgb(252, 197, 78);
   
  }

















footer{
    display:flex;
    background-color: rgb(244, 221, 16);
    justify-content: space-between;
    padding: 7px;

    padding-top :10px;
    padding-bottom :4px;
}
footer a{
    
   
    border-radius: 10px;
  
    display:block;
    text-align:center;
   
    text-decoration: none;
    color: black;
}

footer a :visited{
  
    color: black;
}

footer a:hover{
  
    text-decoration: underline;
}